h1, h2, h3, strong {
    font-family:'Lilita One', sans-serif;
}

h1 {
    font-size: 380%;
    padding: 8% 3% 10% 0;
}

p {
    font-family: 'Almarai', sans-serif;
}

strong {
    font-size: 2rem;
}
    
.bg-color {
    background-color: #547CB9;
}

.bg-color-b {
    background-color: #fff;
}

.auto-center {
    text-align: center !important;
}

.no-padding{
    padding: 0;
}

.auto-padding {
    padding: 6% 10%;
}

.auto-border-radius {
    border-radius: 15%;
}

.icon-color {
    color: #547CB9;

}

.no-margin {
    margin: 0%;
}

/*======HEADER=====*/

.nav-dec {
    padding: 1% 12% 0;
}

.title-b {
    padding: 3% 12%;
}

.margin-btn {
    margin-right: 2%;
}

.margin-btn-b {
    margin-left: 2%;
}

.dec-img {
    margin: 3%;
    transform: rotate(30deg);
    position: absolute;
    top: 10%;
    right: 25%;
}

.nav-btn-mg {
    margin: 0 5px !important;
}

.no-padding-botton {
    padding-bottom: 6%;
}

.box-height {
    height: 40;
}

/*====section PRESENTATION====*/

#presentation {
    position: relative;
    z-index: 1;

}

.dec-sect {
    padding: 5%;
}

.dec-icon {
    margin-bottom: 6%;
    color: #547CB9;
    transition: 300ms;

}

.dec-icon:hover {
    color: #68a5ff;
}

/*=======section STORIES======*/

.padding-cards-title {
    padding: 5% 15%;
}

.title-cards {
    font-size: 300%;
    padding-bottom: 1%;
}

.p-cards {
    font-size: 130%;
}

.cards-title {
    color: black;
    padding-bottom: 4%;
    cursor: pointer;
}

.cards-title:hover {
    text-decoration: underline;
    color: rgb(82, 82, 82);
}

/*======section CAROUSEL====*/

.title-carousel {
    font-size: 275%;
}

.dec-img-b {
    margin: 5%;
}

/*=====section DOWNLOAD====*/

.title-download {
    font-size: 250%;
    padding-bottom: 4%;
}

/*=====FOOTER====*/ 

.footer-margin {
    margin: auto;
}

.dec-icon-b {
    color: black;
    display: block;
    padding: 6%;
    transition: 1.5s;
    cursor: pointer;
}



.dec-icon-b:hover {
    color: #fff;
}

.img-position { 
    position: relative;
    top: 9%;
}

/*====RESPONSIVE====*/

@media (max-width: 991px) {
    body {
        text-align: center;
    }
    
    .dec-img {
        transform: rotate(0deg);
        width: 40%;
        position: static;
        padding: 10% 0 0;
    }
}

@media (max-width: 767px) {
    #img-a {
        width: 20%;
        top: 0%;
        padding: 9% 0;
    }

    .dec-icon-b {
        padding: 2%;
    }

    .padding-copyright {
        padding-bottom: 8%;
    }
}